.kf-stretch-example {
  height: 40px;
  width: 100%;
  position: relative;
  $size: 10px;

  div {
    position: absolute;
    left: 0;
    top: 0;
    background: #888888;
    width: $size;
    height: $size;
    border: 1px solid #e8e8e8;
  }

  .b { top: 11px; }
  .c { top: 22px; }
  .d { top: 33px; }
}
