@font-face {
  src: url("assets/ttf/SourceSansPro-Regular.ttf"); 
  font-family: SourceSansPro;
  font-weight: 500;
}

@font-face {
  src: url("assets/ttf/SourceSansPro-Bold.ttf"); 
  font-family: SourceSansPro;
  font-weight: 700;
}
